/**************variables defined here*********/
$mobile_width:375px;
$Desktop_width:1440px;

/*******colors*******/
/*****primary colors*******/
$pink: hsl(322, 100%, 66%);
$very_pale_cyan: hsl(193, 100%, 96%);
$very_dark_cyan: hsl(192, 100%, 9%);
$grayish_blue: hsl(208, 11%, 55%);


/*********typo********/
/****body typo*******/
$font_size: 18px;

/****headings*******/
$header_font_weight: 600;
$header_font_family: Poppins;

/****body call to action*****/
$body_font_weight: 600;
$body_font_weight_two: 700;
$body_font_family: Open Sans;

